<ion-view title="Add Patient" id="page2">
  <ion-content padding="true" style="background: url(img/t4lttchsSfWDMj0o0AnQ_78320eb1adec391543a0dea74341ab15.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="addPatient-heading3" style="color:#000000;">Patient Details</h4>
    <form id="addPatient-form5" class="list">
      <label class="item item-input" id="addPatient-input2">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Enter Name">
      </label>
      <label class="item item-input" id="addPatient-input7">
        <span class="input-label">NIC</span>
        <input type="number" placeholder="NIC Number">
      </label>
      <label class="item item-input" id="addPatient-input3">
        <span class="input-label">Birth Date</span>
        <input type="date" placeholder="Enter birth date">
      </label>
      <label class="item item-input" id="addPatient-input4">
        <span class="input-label">Mobile</span>
        <input type="number" placeholder="Mobile Number">
      </label>
    </form>
    <h4 id="addPatient-heading2" style="color:#000000;">Next Appointment </h4>
    <form id="addPatient-form6" class="list">
      <label class="item item-input" id="addPatient-input5">
        <span class="input-label">Date</span>
        <input type="date" placeholder="Next Appointment Date">
      </label>
      <label class="item item-input" id="addPatient-input6">
        <span class="input-label">Time</span>
        <input type="time" placeholder="Next Appointment Date">
      </label>
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="addPatient-toggle1">Reminders</ion-toggle>
    </form>
  </ion-content>
</ion-view>