<ion-view title="Login" id="page5">
  <ion-content padding="true" style="background: url(img/7lM5SV8qQoCn3jAsVFwz_78320eb1adec391543a0dea74341ab15.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form8" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input8">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input9">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="welcome" id="login-button16" class="button button-positive  button-block">Log in</a>
      <button id="login-button12" class="button button-positive  button-block button-clear">Or click signup to create an account</button>
      <a ui-sref="signup" id="login-button17" class="button button-positive  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>